* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

.btn-primary {
    color: #0264D4;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
}

.title {
    color: #141415;
    font-size: 40px;
    font-weight: 700;
}

/* Banner Styles */
.banner {
    background-image: url('../assets/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;
}

.banner-content {
    text-align: right;
    padding: 290px 230px;
    width: 30%;
    margin-left: auto;
}

.banner-title {
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* Image Content Styles */
.image-section {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 130px;
}

.image-title {
    margin-bottom: 24px;
}

.image-text {
    color: #434444;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 8px;
}

.image-item {
    color: #434444;
    list-style: none;
}

.icon-green {
    color: #2FC55C;
    padding-right: 10px;
    padding-top: 8px;
}

/* My Plan Styles */
.plan-title {
    text-align: center;
    margin-bottom: 50px;
}

.plan-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 130px;
}

.plan-content {
    text-align: center;
}

.plan-content h3 {
    color: #141415;
    font-size: 30px;
    font-weight: 700;
    margin: 24px 0 16px 0;
}

.plan-content p {
    color: #727273;
    font-size: 24px;
    font-weight: 500;
}

/* Blog Styles */
.blog {
    margin-bottom: 130px;
}

.blog>h3 {
    text-align: center;
    margin-bottom: 16px;
}

.blog-content {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.blog-text h3 {
    color: #141415;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 16px;
    text-align: center;
}

.blog-text p {
    color: #434444;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.blog-content div {
    background: #B4D5F0;
    border: none;
    border-radius: 10px;
    padding: 24px;
}

/* Image Section Styles */
.image {
    background-image: url("../assets/images/watch.png"), linear-gradient(90deg, #0168bd 0%, rgba(0, 90, 172, 0) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    width: 1140px;
    border: none;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 130px;
}

.image-content {
    text-align: left;
    padding: 60px;
}

.image-content h3 {
    width: 50%;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* Footer Styles */
.footer {
    background: #141415;
    padding: 130px;
}

.footer-section {
    color: #F3F3F3;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.future-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.future-text {
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 24px;
}

.future-email,
.future-phone {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}

.social {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-top: 16px;
}

.subscribe-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.subscribe-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #F3F3F3;
}

.subscribe-form button {
    padding: 18px 36px;
    border: none;
    border-radius: 10px;
    background: #0264D4;
    color: #F3F3F3;
    font-size: 20px;
    font-weight: 600;
}